	body {
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 14pt;
	}
	
	div#frame {
		width: 40em;
		margin: 1em auto;
		padding-top:1em;
	}
	
	div.off {
		background-color: #ffd;
	}
	
	div.on {
		background-color: #ddf;
	}

	.high {
		background-color: #444;
		font-weight: bold;
	}
	.menu{
		text-align: right;
		height:1em;  
	}
	#holder {
		margin:1em auto;
		overflow: hidden;
		width:20em;
		height: 4em;
		text-align: center;
		line-height:4em;
		font-size: 1.4em;
		border: 2px solid black; 
	}

	#holder input {
		font-size: 1em;
	}
	
	#holder div.off div.tip {
		display: none;
		color: #888;
		font-size: .5em;
		line-height: 1em;
		font-weight: normal;
		text-align: center;
		
		position: absolute;
		width: 40em;
		left: 50%;
		margin-left: -20em;
		margin-top: -2em;
	}
	
	#holder div.high div.tip { 
		display:block;
	}
	
